/* WP Amazon Search
	by Andy Maloney

	This is the CSS for the classic theme
*/

/* The search widget */

.amz-search-widget .server { text-align: left; }

.amz-search-widget .server-select { font-size: 10px; }


/* The search results */

.amz-search .server { text-align: left; }

.amz-search .server-select
{
	font-size: 10px;
	margin-right: 15px;
}

.amz-search .category-select { font-size: 10px; }
